@font-face {
  font-family: 'sauce_tm';
  src: url('Sauce TM.otf') format('opentype'),
       url('sauce_tm-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #1D2121;
  color: #E7DBC5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: 0;
  padding: 24px;
  font-weight: 500;
}

body.sauce-font {
  background: #FE684D;
  color: #FFDFA7;
}

body.sauce-font::selection {
  background: #1D2121;
  color: #FE684D;
}

body::selection {
  color: #1D2121;
  background-color: #FE684D;
}

h1 {
  font-size:  clamp(10px, 10vw, 300px);
  font-weight: 600;
  line-height: 1;
  margin: 0;
  cursor: pointer;
}

body.sauce-font h1 {
  font-family: 'sauce_tm', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-feature-settings: "ss02";
  font-size: 14vw;
  line-height: 50%;
  font-weight: 300;
  margin-top: 40px;
}

.intro {
  font-size: 14px;
  line-height: 1.4;
  margin: 24px 0 0;
}

body.sauce-font .intro {
  margin: 30px 0 0;
}

.history {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  display: flex;
  gap: 120px;
  text-align: left;
}

.history p {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

@media (max-width: 768px) {
  body {
    padding: 48px 16px;
  }
  .history {
    position: static;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
  } 
  /* Increase readability of paragraph text on small screens */
  p,
  .intro,
  .history p {
    font-size: 18px;
  }
  body.sauce-font h1 {
  line-height: 15%;
  }
}

.papier-link {
  color: inherit;
  text-decoration: underline;
}

.papier-link:hover {
  text-decoration-style: wavy;
}

.emoji-confetti {
  position: absolute;
  pointer-events: none;
  font-size: 30px;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: top 1s ease-out, left 1s ease-out, transform 1s ease-out, opacity 1s ease-out;
}
